<%#= replace :head do %>
  <%#= link_to_repository %>
<% #end %>

<%= replace :skiplinks do %>
  <%= render 'catalog/index_skiplinks' %>
<% end %>

<%# require 'pry'; binding.pry %>


<section class="quotations-home">
	<h1>MEC Quotation Search</h1> 
	<div class="home-description">
<p>  Quotations illustrate the use of a word.
  This search helps you find a designated word,
  phrase, or combination of words within
  stencils and quotations.</p>
  </div>

	<div class="search-bar-label">Search quotations:</div>
	<div class="search-bar--light-bg">
	  <%= render_search_bar  %>
	</div>
</section>

