<%#= replace :head do %>
  <%#= link_to_repository %>
<% #end %>

<%= replace :skiplinks do %>
  <%= render 'catalog/index_skiplinks' %>
<% end %>

<%# require 'pry'; binding.pry %>

<section class="quotations-home">
	<h1>MEC Quotation Search</h1> 
	<div class="home-description">
	 <p>Quotations illustrate the use of a word. This search helps you find a designated form, word, phrase or combination of words within stencils and quotations. Find out more in the <a href="/static/help_med#quotes">MEC Quotation Search Help</a> guide.</p>
	</div>

	<div class="search-bar-label">Search for Quotation entries that include:</div>
	<div class="search-bar--light-bg">
	  <%= render_search_bar  %>
	</div>
</section>