# Ignore everything
*

# Except
!/app
!/bin
!/config
!/data
!/db
!/indexer
!/lib
!/log/.keep
!/nginx
!/public
!/solr/med
!/solr/lib
!/spec
!/test
!/tmp/.keep
!/vendor
!.yarnrc
!config.ru
!Gemfile
!Gemfile.lock
!package.json
!Rakefile
!tiny-set.zip
!yarn.lock
