<% prefclass = case ms.pref
               when 'all'
                 'pref-all'
               when 'part'
                 'pref-part'
               else
                 ""
               end
%>

<div class="bib manuscript">
  <div class="ms-title">
    <span class="title <%= prefclass %>">
      <%== doc_presenter.ms_title_html(ms) %>
      <% if ms.cite %>
        <span class="cite"><%= ms.cite %></span>
      <% end %>
    </span>
  </div>
  <% Array(ms.lalme_xml).each do |mslxml| %>
    <div class="ms-lalme">
      LALME: <%== doc_presenter.commonify(mslxml) %>
    </div>
  <% end %>
</div>