<div id="med" class="col-md-9 col-sm-8 col-xs-12 about-middle-col">

  <h1>Administration: Data upload and push to production</h1>

  <% if defined? errors and errors.size > 0 %>
    <p>Errors Encountered trying to release preview data to production.</p>
    <ul class="about-list">
      <% errors.each do |emsg| %>
        <li><%= emsg %></li>
      <% end %>
    </ul>
  <% end %>


  <h2>Existing collections</h2>
  <table class="admin-table">
    <tr>
      <th>Aliases</th>
      <th>Collection</th>
      <th>Docs</th>
      <th>Created</th>
      <th>Action</th>
    </tr>

    <% collections.each_with_index do |c, i| %>
      <%= render partial: "collection_row", locals: { c: c, i: i} %>
    <% end %>
  </table>

  <% if collections.released? and collections.preview %>
    <h2>Preview and Production currently point to the same data. </h2>
    <p>If preview data were available to release to production, a button to do so would appear here.</p>

    <p>If you've just started an indexing job by uploading a file, this page won't
      change until that indexing process is complete. At that point, loading this page
      will show changes in the summary table above, and you
      can spot-check this preview site to make sure it's all ok.</p>
  <% elsif collections.preview.nil? %>
    <h2>No Preview alias/collection found</h2>
    <p>Maybe nothing has ever been uploaded in this application instance? Uploading and indexing
      a new file will address this issue.</p>
  <% else %>
    <h2>Note: There is new data in Preview.</h2>
    <p>You can browse the new data using this preview site. Once you're happy,
      return here and press the "Release" button to have
      production instances start using the new data. There is no downtime, and no change should
      be noticed other than the date change at the bottom of each page.</p>
  <% end %>

  <h2>Upload a new file</h2>
  <p>Upload a new .zip file for indexing.</p>

  <div id="uppy"></div>

  <script type="module">
  import { Uppy, Dashboard, AwsS3 } from "https://releases.transloadit.com/uppy/v4.3.0/uppy.min.mjs"
  function onUploadComplete(result) {
    console.log(
      'Upload complete! We’ve uploaded these files:',
      result.successful,
    )

  }
  function onUploadSuccess(file, data) {
    console.log(
      'Upload success! We’ve uploaded this file:',
      file.meta['name'],
    )
    $("#upload_info").show("slow");
  }

  const uppy = new Uppy({
    restrictions: {
      maxNumberOfFiles: 1,
      allowedFileTypes: [".zip"],
    }
  })
    .use(Dashboard, {
      inline: true,
      target: '#uppy',
      height: '10em'
    })
    .use(AwsS3, {
      shouldUseMultipart(file) {
        return file.size > 5 * 2 ** 20
      },
      endpoint: '<%= Dromedary::Services[:relative_url_root]  %>'
    })

  uppy.on('complete', onUploadComplete)
  uppy.on('upload-success', onUploadSuccess)
  </script>

  <div id="upload_info" style="display: none">
    <p>Indexing generally takes between 60 and 70 minutes.</p>

    <p>You can check back at this page to see if the new data are ready to be viewed.
    Reload it at after about <%= (Time.now + 70*60).strftime("%I:%M %P") %> to see if it's done.</p>

    <p>Indexing will take place in the background. Currently, there's no good way to track its progress;
      this admin page will show the "release" button when it's ready, and this
      overall preview site will be using the newly-indexed data.</p>

  </div>

</div>


