<% @page_title = "Bibliography search options in the Middle English Dictionary" %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="bibliography">How to Search the Bibliography</h1>
      <p>Bibliography searches allow you to search entries containing
        descriptions of the authors, works, manuscripts, and editions cited
        in
        the Middle English Dictionary. The Bibliography also defines the
        abbreviated forms (or stencils) used to refer to these works and
        provides cross-references to major reference sites to allow further
        study.</p>

      <p>
        A Bibliography search will retrieve bibliographic entries that match
        your terms.</p>

      <h3>Bibliography search types</h3>

      <dl>


        <dt>Entire entry <em>[Default]</em></dt>
        <dd>
          <p>Entire entry searches finds words or phrases anywhere in a
            Bibliography entry.</p>
          <p>Searching on <em>EETS</em>, for example, will retrieve all
            entries that
            include Early English Text Society editions.</p>
        </dd>

        <dt>Author/Title</dt>
        <dd>
          <p>Use an author/title search to find entries for works by known
            medieval authors or works by known title. Parts of titles will
            find
            matches in this search.</p>

          <p>Note that anonymous works are not so identified and must be
            searched by title or other identifier and that MED identifies
            many
            works not by a title but by an 'incipit' or beginning phrase from
            the work.
          </p>
        </dd>


        <dt>External References</dt>
        <dd>
          <p>An external references search allows you to search by a citation
            number (for example, IPMEP 346) from the following
            bibliographies:</p>

          <ul class="help-enum">
            <li><strong>DIMEV</strong>: Linne R. Mooney, Daniel W. Mosser and
              Elizabeth Solopova.
              The DIMEV: An Open-Access, Digital Edition of the Index of
              Middle
              English Verse. www.dimev.net, 2010.
            </li>
            <li><strong>IMEV</strong>: C. Brown and R. H. Robbins. The Index
              of Middle English
              Verse. New York: Columbia University Press, 1943. R. H. Robbins
              and
              J. L. Cutler. Supplement. Lexington: University of Kentucky
              Press,
              1965.
            </li>
            <li><strong>IPMEP</strong>: R. E. Lewis, N. F. Blake, and A. S.
              G. Edwards. Index of
              Printed Middle English Prose. New York: Garland, 1985.
            </li>
            <li><strong>Jolliffe</strong>: P. S. Jolliffe A Checklist of
              Middle English Prose
              Writings of Spiritual Guidance. Toronto: Pontifical Institute
              of
              Mediaeval Studies, 1974.
            </li>
            <li><strong>Manual</strong>: A Manual of the Writings in Middle
              English, 1050-1500. Gen.
              eds. J. B. Severs, A. E. Hartung. New Haven, Conn.: Connecticut
              Academy of the Arts and Sciences, 1967 -- .
            </li>
            <li><strong>NIMEV</strong>: Julia Boffey and A. S. G Edwards. A
              New Index of Middle
              English Verse. London: British Library, 2005.
            </li>
            <li><strong>Wells</strong>: J. E. Wells. A Manual of the Writings
              in Middle English,
              1050-1400. New Haven, Conn.: Connecticut Academy of the Arts
              and
              Sciences, 1916. J. E. Wells, et al. Supplements [9]. 1919-1952.
            </li>
          </ul>
        </dd>


        <dt>LALME/LAEME</dt>
        <dd><p>A LALME/LAEME search finds texts and manuscripts quoted in the
          Dictionary and copied in a scribal dialect identified by the
          Linguistic Atlas of Late Middle English (LALME) or Linguistic Atlas
          of Early Middle English (LAEME).</p>
          <p>You may search by Linguistic Profile number, if known, by
            county, and
            also by terms which may be included in LALME information
            ("northern,"
            "East Anglian," "main hand," "hand A," etc.)</p></dd>


        <dt>Manuscripts</dt>
        <dd>Use manuscripts searches for identifying works in specific
          manuscripts, libraries, or collections. The collection alone (e.g.,
          Harley) will retrieve a list of possibly matching manuscripts;
          combined with the shelfmark (e.g., "Harley 2253"), it will yield a
          list of all works from the specified manuscript.
        </dd>


        <dt></dt>
        <dd>


        </dd>


      </dl>
    </div>
  </div>
</div>
