
<% @page_title = "Quotation search options in the Middle English Dictionary" %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">



      <h1 id="quotations">How to Search the Quotations</h1>
      <p>Searches within Quotations allow you to find a specified word,
        phrase, or combination of words within the Middle English quotations
        illustrating each dictionary entry, which collectively comprise a
        corpus of nearly a million snippets of Middle English. </p>
      <p>A Quotation search will retrieve quotations that match your terms.
        Quotation results contain a link to the Dictionary entry that cites
        the quotation and the Bibliography entry for the work that contains
        it</p>

      <h3>Quotations search types</h3>

      <dl>

        <dt>Quotations including citation</dt>
        <dd>
          Searching for Quotations including citation will retrieve
          quotations that contain your search term anywhere, both in the text
          of the quotation and in the bibliographic information attached to
          it. A search for Cambridge will find quotations that are cited in
          The University of Cambridge from the Earliest Times to the Royal
          Injunctions of 1535 and quotations that contain the word Cambridge.

        </dd>


        <dt>Quotations text only</dt>
        <dd>
          Searching within Quotations text only will only retrieve your
          search term within the Middle English quotations

        </dd>

      </dl>
    </div>
  </div>
</div>
