<% @page_title = "Character equivalencies and special/ambiguous characters in the Middle English Dictionary" %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="special-characters"><%= t('views.static.help.special-characters-heading') %></h1>

      <p>The keyboard icon
        (<%= image_tag('keyboard-grey.svg', alt: 'Drop down menu for special character selection') %>
        )
        next to the search box can be used to enter special characters
        directly. You may
        also substitute characters on a standard US keyboard, as shown below.
        Thus,
        for example, a search for <em>Þē̆de</em> is the exact same search as
        one
        for <em>thede</em>, and a boolean search for <em>wīde OR wyde OR wyðe</em> will
      return the exact same results as a simple search for <em>wide</em>, as all are
        considered equivalent for search purposes.</p>

      <p>In total, the following sets of characters are considered
        equivalent when searching:</p>

      <ul id="character-translation" class="help-enum">
        <li>Þ/þ and th</li>
        <li>Ð/ð and d</li>
        <li>Ȝ/ȝ, Ʒ/ʒ, and z</li>
        <li>Æ/æ  and AE</li>
        <li>Any accented character (e.g., ô,ī,ẹ̄, etc.) and its non-accented
          version (o, i, e, etc.)
        </li>
        <li>Any other ligature and its
          two-character equivalent (e.g., Œ ↔ OE)
        </li>
        <li>k and c</li>
        <li>j, y, and i</li>
        <li>u and v</li>
      </ul>
    </div>
  </div>
</div>
