<% # container for all documents in index list view -%>
<div id="documents" class="documents-<%= document_index_view_type %>">
  <%= render partial: 'bibliography/document', collection: documents %>
</div>
