<%#= replace :head do %>
  <%#= link_to_repository %>
<% #end %>

<%= replace :skiplinks do %>
  <%= render 'catalog/index_skiplinks' %>
<% end %>


<section class="bib-home">
	<h1>MEC Bibliography Search</h1> 
	<div class="home-description">
	  Bibliography results include only the manuscripts and editions
	  used in the compilation of the Middle English Dictionary.
  </div>

	<div class="search-bar-label">Search bibliographic entries:</div>
	<div class="search-bar--light-bg">
	  <%= render_search_bar  %>
	</div>
</section>
