<%# Given  sensepart: ss, index: index, presenter: doc_presenter  %>

<div class="supplements-all">
    <div class="entry-supplement">
      <%== presenter.supplement_html(supplement) %>
    </div>
</div>

