<%# Given  sensepart: ss, index: index, presenter: doc_presenter  %>

<h3 class="entry-supplemental-title">Supplemental Materials (draft)</h3>
<div class="supplements-all">
    <div class="entry-supplement">
      <%== presenter.supplement_html(supplement) %>
    </div>
</div>

