<div id="about_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2>About</h2>
    <ul class="help-ul">
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'about_med', label: "About the MED" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: '/catalog', label: "Back to Search" } %>
      <%#= render partial: 'static/help_sidebar_link', locals: { path: 'about_project', label: "About the Digital Archives Project" } %>
      <%#= render partial: 'static/help_sidebar_link', locals: { path: 'rights', label: "Rights Statement" } %>
    </ul>
  </div>
</div>
