<div id="about_sidebar" class="<%= sidebar_classes %> about-sbar">
  <div class="sidebars">
    <h2>About the Middle English Compendium</h2>
    <ul class="help-ul">
      <li><a href="#med">Middle English Dictionary</a></li>
      <li><a href="#bib">"Hyper"Bibliography</a></li>
      <li><a href="#corpus">Corpus of Middle English Prose and Verse</a></li>
      <li><a href="#citing">Citing the Middle English Dictionary</a></li>
      <li><a href="#copyright">Copyright policies</a></li>
      <li><a href="#acknowledgements">Acknowledgements</a></li>
      <li><a href="#notes">Notes</a></li>
    </ul>
  </div>
</div>
