<% @page_title = t('views.static.help.title') %>

<div class="container">
  <div>
    <%= render partial: 'about_sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="about"><%= t('views.static.help.header')%></h1>

      


    </div>
  </div>
</div>
