<% @page_title = t('views.static.help.title') %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="about"><%= t('views.static.help.header') %></h1>

      <h2 id="general">General search information</h2>

      <p>Searches in all three sections (Dictionary, Bibliography, and
        Quotations) treat words separately, as keywords. An "Entire
        entry"
        search in the Dictionary for
        <em>king of arms</em> will find over 45,000 entries that contain at
        least
        one of the three words <em>king</em>, <em>of</em>, or <em>arms</em>.
        If you want to find entries with the exact phrase
        "king of arms" use quotation marks around the phrase.</p>

      <p>In all cases, entries that are judged as more relevant will be at
        the top of the results list.</p>







    </div>
  </div>
</div>
