<% @page_title = 'Middle English Dictionary is down for maintenance' %>

<div class="container help-container">
  <div>
    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="down">The MED is temporarily unavailable</h1>

      <p>The Middle English Dictionary has been taken offline
        for planned maintenance activities. It should bve available
        again within an hour.</p>


    </div>
  </div>
</div>
