<div class="col-md-9 col-sm-8 col-xs-12 about-middle-col">

<h1>Middle English Dictionary Copyright Policies</h1>

<h2>The Dictionary and individual dictionary entries</h2>

<p>The University of Michigan Library provides access to these materials for educational and research purposes, with permission from their copyright holder(s). If you decide to use any of these materials, you are responsible for making your own legal assessment and securing any necessary permission. If you have questions about the collection, please contact mec-info@umich.edu. If you have concerns about the inclusion of an item in this collection, please contact LibraryIT-info@umich.edu.</p>

<h2>The Bibliography and individual bibliographic entries</h2>

<p>These materials have been dedicated to the public domain using the
Creative Commons Public Domain Dedication. To the extent possible
under law, the Regents of the University of Michigan have
waived all copyright and related or neighboring rights to them.
If you have questions about the collection,
please contact <a href="mailto:mec-info@umich.edu">mec-info@umich.edu</a>. If you have concerns about the
inclusion of an item in this collection, please contact
<a href="LibraryIT-info@umich.edu">LibraryIT-info@umich.edu</a>.</p>

</div>