
<% @page_title = "ID not found" %>


<div style="text-transform: none">



<div class="container-fluid">

  <div class="row">

    <div id="med" class="<%= main_content_classes %> help-middle-col">

      <p><span class="zero-results"> ID "<%= id %>" not found.</span></p>

      <p>A record with the ID '<%= id %>' could not be found.</p>

      <p>The ID may have changed &mdash; searching for the term will help you locate the current entry.</p>

    </div>


    </div>
  </div>
</div>
