<ul id="skip">
    <li><a href="#content">Skip to results</a></li>
    <li><a href="#search-navbar">Skip to search form</a></li>
    <li><a href="#sidebar">Skip to search results filters</a></li>
</ul>