<% doc_presenter = index_presenter(@document) %>
<% ent = doc_presenter.entry %>

<% if ent.oedlinks or ent.doelinks %>
  <div class="panel panel-default show-related">
    <h3 class="panel-heading">Related Dictionary Entries</h3>
    <div class="panel-body">

      <% if ent.oedlinks %>
        <div class="related-link-subhead">Oxford English Dictionary</div>
        <p class="oed-subscription-warning">(Please note that the OED is a
          subscription resource)</p>
        <ul>
          <% ent.oedlinks.each do |elink| %>
            <% oed_href = "http://www.oed.com/view/Entry/#{elink.target_id}" %>
            <li>
              <a class="external-link" href=<%= oed_href %>><%== elink.term %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if ent.doelinks %>
        <div class="related-link-subhead">Dictionary of Old English</div>
        <ul>
          <% ent.doelinks.each do |elink| %>
            <% oed_href = "http://tapor.library.utoronto.ca/doe/?E#{elink.target_id}" %>
            <li>
              <a class="external-link" href=<%= oed_href %>><%== elink.term %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
