<div id="documents" class="zero-results">

  <% widest_search = 'anywhere' %>
  <p>
    No results were found matching your search for <span class="search-terms"><%= params['q']%></span>
  </p>

  <%= render "application/try_again", locals: {widest_search: widest_search} %>

  <%= render "application/phrase_wildcard" %>

</div>
