<section class="banner">
	<div class="container">
			<div class="col-sm-12">
				<div class="banner-text">
			    <h1 class="banner-text--large">Middle English Dictionary</h1>
			    <div class="banner-text--medium">
			    	<p>The world's largest searchable database of Middle English lexicon and usage for the period 1100-1500. An invaluable resource for lexicographers, language scholars, and all scholars in medieval studies.</p>
			   	 <a href="">Read more about the dictionary</a>
			  	</div>

			    <div class="search-bar--home">
			     <%= render_search_bar  %>  
			    </div>

			    <p class="banner-text--caption">Image: The Ellesmer Manuscript of Geoffrey Chaucer's The Canterbury Tales, c. 1400-1405. Shown is the introduction to "The Knight's Tale." <a href=""> Available online at the Huntington Library</a></p>
			   </div>
			</div>
	</div>
</section>

<section class="fact-panel">
	<div class="container">
			<div class="col-sm-12">
					<div class="col-sm-4">
						<ul>
							<li class="nav-detail--heading">How to get started</li>
							<li class="nav-detail--light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
							<li class="nav-detail--link"><a href="">Getting started</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li class="nav-detail--heading">More ways to search</li>
							<li class="nav-detail--light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
							<li class="nav-detail--link"><a href="">Learn about advanced search options</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li class="nav-detail--heading">History of the MED</li>
							<li class="nav-detail--light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
							<li class="nav-detail--link"><a href="">Read more about's the MED's history</a></li>
						</ul>
				</div>
			</div>
	</div>
</section>