<section class="banner">
	<div class="container">
			<div class="col-sm-12">
				<div class="banner-text">
			    <h1 class="banner-text--large">Middle English Compendium</h1>
			    <div class="banner-text--medium">
			    	<p>Lorum Ipsum put something useful here</p>
			  	</div>


          <section class="fact-panel">
            <div class="container">
              <div class="col-sm-12 padding0">
                <div class="col-sm-4">
                  <ul>
                    <li class="nav-detail--heading">Middle English
                      Dictionary
                    </li>
                    <li class="nav-detail--light">The world's largest searchable database
                      of Middle English lexicon and usage for the period 1100-1500.
                      An invaluable resource for lexicographers, language scholars,
                      and all scholars in medieval studies.
                    </li>
                    <li class="nav-detail--link">
                      <a href="/dictionary">Go to the Middle English Dictionary</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <ul>
                    <li class="nav-detail--heading">Bibliography</li>
                    <li class="nav-detail--light">Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt.
                    </li>
                    <li class="nav-detail--link">
                      <a href="/bibliography">Go to the Bibliography</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <ul>
                    <li class="nav-detail--heading">Corpus</li>
                    <li class="nav-detail--light">Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt.
                    </li>
                    <li class="nav-detail--link">
                      <a href="https://quod.lib.umich.edu/c/cme/">Go to the Middle English Corpus</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <p class="banner-text--caption">Image: The Ellesmer Manuscript of
            Geoffrey Chaucer's The Canterbury Tales, c. 1400-1405. Shown is
            the introduction to "The Knight's Tale."
            <a href=""> Available online at the Huntington Library</a></p>

			   </div>
			</div>
	</div>
</section>
