
<section class="splash-banner">	
<div class="splash-container">	
				<div class="splash-text">
			    <h1 class="splash-text--large">Middle English Compendium</h1>
			    <div class="splash-text--medium">
			    	<p>The Middle English Compendium contains three Middle English electronic resources: the Middle English Dictionary, a Bibliography of Middle English prose and verse,  and a Corpus of Middle English Prose and Verse.</p>
			  	</div>
       
  <section class="splash-section">
          
                  <ul class="splash-list">
                    <li class="splash-detail--heading">Middle English
                      Dictionary
                    </li>
                    <li class="splash-detail--light">The world's largest searchable database
                      of Middle English lexicon and usage for the period 1100-1500.
                      An invaluable resource for lexicographers, language scholars,
                      and all scholars in medieval studies.
                    </li>
                    <li class="splash-detail--link">
                      <a href="/dictionary">Go to the Middle English Dictionary</a></li>
                  </ul>
            
                  <ul class="splash-list">
                    <li class="splash-detail--heading">Bibliography</li>
                    <li class="splash-detail--light">Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt. Lorem ipsum dolor sit amet.
                    </li>
                    <li class="splash-detail--link">
                      <a href="/bibliography">Go to the Bibliography</a></li>
                  </ul>
           
                  <ul class="splash-list">
                    <li class="splash-detail--heading">Corpus</li>
                    <li class="splash-detail--light">Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt. Lorem ipsum dolor sit amet.
                    </li>
                    <li class="splash-detail--link">
                      <a href="https://quod.lib.umich.edu/c/cme/">Go to the Corpus</a></li>
                  </ul>
          </section>
     
 	
    
     <div class="splash-text--caption">Image: The Ellesmer Manuscript of
            Geoffrey Chaucer's The Canterbury Tales, c. 1400-1405. Shown is
            the introduction to "The Knight's Tale."
            <a href="http://www.huntington.org/WebAssets/Templates/content.aspx?id=6074"> Available online at the Huntington Library</a></div>

</div>
</section>
