// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap/variables";
// @import "bootstrap/mixins";

@import 'bootstrap-variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';

$navbar-bgcolor: #F2F2F2;
$footer-bgcolor: #00274C;
$header-bgcolor: #00274C;
$body-bgcolor:   #F2F2F2;

$image-viewer-bgcolor: #323333;

//$base-fonts: font-family: 'Open Sans', sans-serif;

$brand-primary: red;
