@import 'globals';

@import 'blacklight/blacklight';


hi { font-weight: bold}

#header-navbar {
  background-color: $header-bgcolor; // #00274C;
  padding: 10px;
  .navbar-brand {
    font-size: 24px;
  }
}
