// dromedary.scss

// SKIP LINKS
#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;
    z-index: 5000;
}

#skip li { list-style-type: none }

#skip a {
    position: absolute;
    left: -99999px;
    top: 20px;
}

#skip a:focus, #skip a:active{
/*    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
    padding: $alert-padding;
    border: 1px solid transparent;
    border-radius: $alert-border-radius;

    position: relative;
    left: 0;
    z-index:9999;
    width: 75%;
    height: auto;
    margin: 0 auto;
    // padding: 30px 45px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;*/
    
}

.skip-filter-link:focus, .skip_filter_link:active {
    display: block;
    text-decoration: underline;
    height: auto;
    width: auto;
    position: static;
}

// CONTACTS
.blacklight-contacts {
  .inner-form {
    margin: 0 -15px;
    padding: 0;
  }

  .form-group {
    position: relative;
    margin-bottom: 25px;

    .form-control {
      border: 2px solid #ccc;
      border-radius: 3px;
    }

    &.required {
      margin-bottom: 50px;
    }

    .required.required-tag {
      position: absolute;
      bottom: -25px;
      left: 0;
      color: #057c42;
      font-size: 13px;
      text-transform: capitalize;
    }

  }

  .form-group.required + .form-group.optional {
    margin-top: -25px;
  }

  #new_contact label, .contact {
    color: #333333;
    display: block;
    font-size: 120%;
    font-weight: normal;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: left;
    width: 20em;
  }

  // #new_contact  .checkbox label {
  //   margin-top: 12px;
  // }

  #new_contact  span.spacer {
    display: block;
    height: 40px;
  }

  // #new_contact  textarea {
  //   height: 100px;
  //   width: 500px;
  // }

  #new_contact span.error {
    bolder: solid 2px red;
    display: inline-block;
    margin-left: 20px;
    padding: 4px;
  }

  #new_contact div.field_with_errors span.error {
    font-style: bold italic;
    font-size: 1.2em;
  }

  #new_contact .btn {
    color: white;
    margin-left: -15px;
    margin-bottom: 50px;
    // /margin-top: -25px;
  }

  .para {
    font-size: 20px;
    line-height: 1.6;
    color: #333333;  
  }

  p.help-block {
    font-style: italic;
    margin-bottom: 0;
  }

  #new_contact abbr {
    display: none;
  }

  .prompt {
    display: none;
  }

  .prompt.visible {
    display: block;
  }


  // #new_contact .required-tag {
  //   background-color: #10788E;
  //   border-radius: 0.2rem;
  //   bottom: 0.2rem;
  //   color: #FFF;
  //   display: inline-block;
  //   font-size: 0.7rem; // falafel
  //   font-size: 90%;
  //   font-weight: normal;
  //   line-height: 1em;
  //   padding: 0.2rem 0.4rem;
  //   position: relative;
  //   text-shadow: none;
  //   vertical-align: super;
  // }

}

@media (min-width: 992px) {
  .blacklight-contacts .inner-form .col-md-6 {
      width: 48%;

      &:last-child {
        margin-left: 2%;
      }
  }
}
/* STATIC PAGES - HELP AND ABOUT */

/* Suppress some elements we don't want on static pages */

.blacklight-contacts #search-navbar,
.blacklight-contacts .search-query-form,
.blacklight-static #search-navbar,
.blacklight-static .search-query-form {
  display: none;
}

body.blacklight-static,
body.blacklight-contacts-new,
body.blacklight-contacts-create {
  background-color: #f2f2f2;
  color: #6e6e6e;    
  line-height: 1.6;

  > .container {
    margin-bottom: 30px;
  }

  > .container {
    margin-top: 30px;
  }
}

/* HELP MIDDLE COL */


.help-middle-col {
  background-color: white;
  // margin-bottom: 15px;


  padding: 60px;

  &:nth-of-type(1) {
    padding-bottom: 10px;
  }

  &:nth-of-type(2) {
    padding-top: 0;
  }

  .title {
    color: #333333;
    font-size: 36px !important;
    font-weight: bold !important;
    line-height: 1.3;
  }

  .subtitle {
    color: #333333 !important;
    font-size: 24px !important;
    font-weight: bold !important;
  }

  .subtitle-gray {
    color: #6e6e6e !important;
    font-size: 24px !important;
    font-weight: bold !important;
  }

  p {
    color: #333333 !important;
    font-size: 16px;
    line-height: 24px; 
  }

  span.example, span.help-example {
    color: #333333 !important;
    font-weight: bold !important;
    font-size: 16px;
  }

  .no-style-ul {
    color: #333333 !important;
    font-size: 16px;
    line-height: 36px;
    list-style-type: none;
    margin-left: -36px;
  }

  .action-report-problem {
    margin-bottom: 10px;
  }

  dt {
    background-color: #e6f3ff;
    background-color: #e6f3ff;
    border-radius: 3px;
    border: solid 1px #cce6ff;
    color: #126dc1;;
    display: inline-block;
    height: 32px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    vertical-align: middle;
  }

  dd {
    display: inline-block;
    margin-left: 75px;
    margin-right: 25px;
    margin-top: -25px;

    p {
      margin-top: 6px;
    }
  }

}

/* HELP SIDEBAR */

.sidebars {
  margin-top: 10px;
  margin-bottom: 15px;
}

.help-sbar {
  margin-top: -120px;
}

.help-sbar h2 {
  font-size: 24px;
  color: #6e6e6e;
  margin-top: 20px;
  padding-left: 5px;
}

.help-ul {
  -webkit-padding-start: 0;
  list-style-type:none;
  padding: 0 5px 0 5px;
}

.help-ul li {
  display: block;
  margin-bottom: 10px;
  margin-left: 12px;

  a {
    border: 1px solid transparent;
    color: #6e6e6e !important;
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    vertical-align: middle;
    width: inherit;
  }

  a:hover, a:focus {
    border-radius: 3px;
    border: 1px solid #337ab7;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
  }

  a.currentlyActive {
    border-radius: 3px;
    color: white !important;
    background-color: #126DC1 !important;
    // height: 40px;
    padding: 6px 16px;
    padding-top: 6px;
    vertical-align: middle;
  }
}

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-xs-max: 1200px;

@media (min-width: 768px) and (max-width: 992px) {

  body.blacklight-catalog-index {

    .page_links {
      white-space: nowrap;
    }

    .help-sbar {
      margin-top: 0 !important;
    }


    > .container {
      margin-right: auto;
      margin-left: auto;
      padding: 0 15px;
      width: 100%;

      > .row {
        margin: 0;
      }

      // do not do this if we're hiding elements
      // .pagination {
      //   margin: 0 -15px;
      // }
    }
  }
}


#sidebar {
  #appliedParams {
    background-color: #e5e5e5 !important;
    margin-top: 20px;
    margin-bottom: 15px;

    .appliedFilter {
      width: 100%;
    }

    .constraints-label {
      color: #333333;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
    }

    .constraint-value {
      background-color: #05a657 !important;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      padding: 6px 10px;
      max-width: 75%;
      text-align: left;

      .filterName:after {
        color: white;
      }
    }

    a.dropdown-toggle {
      background-color: rgba(26,165,90, .36);
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      padding: 6px 10px; // --- disable for MD
      padding-bottom: 5px; // --- for icomoon font
    }

    a.catalog_startOverLink, a.FrontPageOnly {
      background-color: #6e6e6e;
      border-radius: 3px;
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: normal !important;
      margin-top: 5px;
    }
  }
}

@media (max-width: 1200px) {
  .page_links {
    white-space: nowrap;
  }

  .help-sbar {
    margin-top: 0 !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  body.blacklight-contacts-new, , body.blacklight-contacts-create, body.blacklight-static {

    background: #fff;

    .help-middle-col {
      &:nth-of-type(1) {
        padding-top: 0;
      }

      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
