@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$u-m-blue: #00274c;
$u-m-yellow: #ffcb05;

/** Base Styles **/

a {
  text-decoration: underline;
}

.HI_B {
  font-weight: bold;
}

.HI_I {
  font-style: italic;
}

.USG {
  font-style: italic;
}

/** Utilities **/

.padding0 {
  padding: 0;
}

/** Header **/

.navbar-inverse {
  background-color: $u-m-blue;
  border: 0;
}

#header-navbar {
  margin: 0;
  padding: 0;
}

.site-header {
  padding-bottom: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.site-header-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.site-title-container {
  flex: 1;
}

.container.container--full.site-header-container {
  padding: .35em 0;
}

.site-navigation {
  flex: 1;
  text-align: end;
}

#user-util-collapse a {
  font-size: .85em;
  color: #fff;
  text-decoration: none; 
  padding: 0 .5em; 
}

 #user-util-collapse a:focus {
  border: 2px solid $u-m-yellow;
  background-color: $u-m-blue;
}

/** Header Nav Secondary **/

ul.header-nav-secondary li {
  padding: .25em 0;
  display: inline;
}

ul.header-nav-secondary a {
  color: #333333;
  text-decoration: none;
  padding: .5em;
  font-size: .85em;
  margin-right: .65em;
}

ul.header-nav-secondary a.active {
  color: purple;
}

ul.header-nav-secondary li.active {
  border-bottom: 2px solid #126DC1;
}

ul.header-nav-secondary li.active a {
  color: #126DC1;
}

ul.header-nav-secondary a:focus {
  border: 2px solid $u-m-yellow;
  background-color: #fafafa;
}

/** Body Home **/

#main-container {
  padding: 0;
}

.fact-panel {
  background-color: #f2f2f2;
  padding-top: 2.5em;
  margin: 0;
}

.nav-detail--heading {
  padding-bottom: .5em;
  font-size: 1.25em;
}

.nav-detail--light {
  color: #555;
  font-weight: 300;
  font-size: .9em;
}

.nav-detail--link {
  color: #126DC1;
  padding-top: .25em;
  font-size: .9em;
  font-weight: 300;
}

.banner {
  margin: 0;
  background-image: asset-url("home_banner.jpg");
  background-size: cover;
 
  a {
  color: #fff;
 }

 .tt-suggestion {
  color: #000;
  text-shadow: none;
 }
}

 .banner-text a:visited {
    color: #fff;
  }

 .banner-text {
  color: #fff;
  text-align: center;
 }

 .banner-text--large {
  font-weight: bold;
  font-size: 2.75em;
  padding: .5em 0 .25em;
 }

 .banner-text, .banner-text--large, .banner-text--medium {
  text-shadow: 1px 1px #000;
 }

 .banner-text--medium {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 30px;
 }

 .banner-text--caption {
  float: right;
  font-size: .5em;
 }

/** Header panel search bar **/

.search-bar--header {
  background-color: #E6F3FF;
  padding: .75em;
  margin-bottom: 2em;
  box-shadow: inset 0 -2px 0 0 #CCE6FF;

  .input-group {
    display: flex;
    flex-direction: row;
  }

  .search-input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .input-group-addon {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #E6F3FF;
    border: none;
    height: 40px;
  }

  .twitter-typeahead {
    width: 70%;
  }

  select#search_field, .form-control {
    height: 40px;
    padding: 9px 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }

   button#search {
    border-radius: 4px;
    padding: 4px 12px;
    height: 40px;
  }

  .submit-search-text {
    font-size: 1.25em;
  }

  .form-control:focus {
    border: 3px solid $u-m-yellow;
  }
}

/** Home Page Search bar **/

.search-bar--home {
  padding: .5em;
  margin: 1em 0;
  background-color: #333333;

  .input-group {
    display: flex;
    flex-direction: row;
  }

  .search-input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }

  .twitter-typeahead {
    width: 60%;
  }

  .input-group-addon {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #333;
    border: none;
    height: 40px;
  }

  button#search {
    border-radius: 4px;
    padding: 4px 12px;
    height: 40px;
  }

  .submit-search-text {
    font-size: 1.25em;
  }

  select#search_field, .form-control {
    height: 40px;
    padding: 9px 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control:focus {
    border: 3px solid $u-m-yellow;
  }
}

.search-btn {
  background-color: #126DC1;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid #0c5292;
}

/** Search Results Dictionary **/

#sortAndPerPage {
  border: 0;
  padding: .5em;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin-bottom: 0;

  .page_links {
    font-size: .75em;
    font-weight: bold;
  }
}

#documents .document {
  border-bottom: 0;
}

.index_title.document-title-heading {

  a {
    font-size: 1.5em;
    color: #126DC1;
    text-decoration: underline;
    padding: 0;
  }

  .document-counter {
    display: none;
  }
}

.entry-panel.panel {
  background-color: #fff;
  border-radius: 0;
  margin: 0;
}

.index-definition-tag, 
.DEF {
   font-size: 1em;
}
 
.index-definition-tag {
  color: #6E6E6E;
  padding-right: .5em;
}

.DEF {
  color: #333333;

  .HI_B {
    font-weight: bold;
    font-style: italic;
  }

  .USG {
    font-style: italic;
  }
}

.index-spellings, 
.index-quotes-line {
  padding: 0 1em;
  color: #6E6E6E;
}

.index-quotes-line {
  margin-bottom: 1em;
}

.search-result.def em {
  font-style: italic;
}

.entry-entire {
  background-color: #fafafa;
  padding: 1.25em;

  ol > li {
    padding: .25em 0;
  }
}

.search-result {
  font-size: .75em;
}

/** Facets - Search Results **/

.panel-title.facet-field-heading a {
  color: #4A4A4A;
  text-decoration: none;
}

.panel-body.facet-panel, 
.collapse-toggle.panel-heading {
  background-color: #FAFAFA;
  border: 1px solid transparent !important;
}

.panel-body.facet-panel {
  padding-top: 0;
}

.facet-label a {
  color: #126DC1;
  text-decoration: none;
  font-size: .95em;
 }

.facet-values .facet-label {
  padding-bottom: 0;
}

/** Entry Page Dictionary **/

.entry-panel {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);

  .entry-main-title {
    background-color: #E6F3FF;
    color: #0C5292;
    font-weight: bold;
    font-size: .85em;
  }

  .entry-headword {
    font-size: 1.15em;
  }

  .quotations-header-options {
    font-size: .75em; 
    padding-top: .5em;
  }

  .quotations-header-options-text {
    font-weight: bold;
  }

  .quotations-header-options a {
    text-decoration: none;
  }

  .entry-intro-title {
    padding: 1em;
  }

  .entry-container {
    border-bottom: 2px solid #ccc;
    height: 50px;
  }

  h2.entry-main-title {
    padding: 1em;
  }

  .entry-heading {
    height: 40px;
  }

  .entry-main-title,
  .entry-intro-title,
  .entry-heading,
  .entry-senses-title,
  .entry-supplemental-title {
    padding: .5em 1em;
    font-weight: bold;
  }

  .entry-info,
   .entry-senses, {
    padding: 0 1em;
  }

  .entry-senses {
    background-color: #FAFAFA;
    border-top: 1px solid #ccc;
  }

  .entry-supliment {
    padding: 0 1em;
  }

  .entry-info table,
  .entry-supliment table {
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .entry-info tr,
  .entry-supliment tr {
      background-color: #f2f2f2;
    }

    .entry-supliment td {
      color: #6E6E6E;
      font-size: .9em;
    }

    td.quotes-control > * {
      font-size: .75em;
    }

    td.forms-list {
      font-weight: bold;
    }

}

.show-tools .panel-heading, 
.show-related .panel-heading {
  background-color: #FAFAFA !important;
  border: 1px solid transparent !important;
  font-weight: bold;
  font-size: .85em;
  padding-bottom: 0;
}

.show-tools a {
  color: #4E4E4E;
  text-decoration: none;
}

.show-tools .panel-body, 
.show-related .panel-body {
  background-color: #fafafa;
}

.show-tools li.citation a {
  padding-left: 0;
}

.show-related {

  .related-link-subhead {
    font-size: .85em;
    padding-top: 1em;
  }

  .oed-subscription-warning {
    margin-bottom: 0;
  }
}

/** About + Help  **/

body.blacklight-static,
.blacklight-contacts.blacklight-contacts-new {
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.5;
}

.about-lg {
  font-size: 1.05em;
  margin-bottom: .25em;
}

.about-middle-col,
.help-middle-col {
  background-color: #fff;
  padding: 1em 1.75em !important;
  border-radius: 3px;
}

.compendium-staff {
  padding: 0 0 1em;

li {
  padding: .35em 0;
}
}

.title-secondary {
  font-size: .75em;
  padding-top:0;
}

.sidebars {
  background-color: #fafafa;
  margin-top: 0;
  border-radius: 4px;

  h2 {
    padding: .5em;
    font-weight: bold;
    font-size: .9em;
  }
}

.sidebars ul,
.sidebars ul li {
  padding-left: 0;
}

.about-middle-col h1,
.help-middle-col h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
}

.about-middle-col h3,
.help-middle-col h3 {
  font-size: 1.15em;
  color: #333333;
  font-weight: bold;
  padding-top: 1em;
}

.about-middle-col h4,
.help-middle-col h4 {
  font-weight: bold;
  padding-top: .25em;
}

.help-ul li {
  display: block;
  margin-bottom: 10px;
  margin-left: 12px;

  a {
    border: 1px solid transparent;
    color: #0C5292 !important;
    text-align: left;
    vertical-align: middle;
    width: inherit;
    text-decoration: none;
  }
}

.sidebars ul {
  padding-bottom: .25em;
}

.sidebars ul li {
  margin-left: 0;
  padding: 0 .75em;
  font-size: .9em;
}

.sidebars ul li.current {
  border-left: 4px solid #0C5292;
  font-weight: bold;
}

/** Footer **/

.footer {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 3rem;
}

.footer-subfooter {
  width: 100%;
  padding: .5rem 0;
  margin-top: 0;
}

.footer--dark {
  background-color: $u-m-blue;
}

.footer--light {
 background-color: #F2F9FF; 
}

.footer-container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 

  li {
    padding: .1em 0;
  }

  li a {
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    font-weight: 300;
  }

  a:hover {
    text-decoration: underline;
  }

  section {
    padding: .5em 0;
  }

  h3 {
    font-weight: 600;
  }
}

.footer-text--light {
  color: #fff;
}

/** Media Queries **/

@media only screen and (max-width: 767px) {

  .search-bar--home,
  .search-bar--header  {
    .search-input-group {
      justify-content: center;
      padding-top: .25em;
    }

    .twitter-typeahead {
        width:60%;
      }

    .input-group {
    display: block;
    }
  }

  .input-group-addon.for-search-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .submit-search-text {
    display: none;
  }
  .nav-detail--heading {
    padding-top: .5em;
  }

  ul.header-nav-secondary {
   margin: 0 auto;
  }
}

@media (max-width: 575.98px) {

  .search-bar--home,
  .search-bar--header {
    .search-input-group {
      width: 100%;
      justify-content: flex-start;
    }

    .input-group-addon.for-search-field {
      justify-content: flex-start;
    }

    .twitter-typeahead {
      width:70%;
    }
  }

}
