<h1>Error processing corpus update<h1>
<p>Corpus update <%= @corpus_update.id %> could not be processed because update <%= @active_update_id %> was already in progress.</p>
<p>Please wait until it completes or, if it failed abnormally, clear the active update.</p>
