<%
  wc_in_phrase = (m = %r("[^"]*[*?][^"]*").match(params['q'])) && m[0]
%>

<% if wc_in_phrase %>
  <div class="flash">
      <p>It looks like you have a phrase query that contains a wildcard (* or
        ?).
        Wildcard characters in phrase queries are discarded, so your search
        for <span class="searchterms"><%= wc_in_phrase %></span>
        was interpreted as
        <span class="searchterms"><%= params['q'].gsub(/[?*]/, '') %></span>.
      </p>

    <div>See the <%= link_to "information on expanded
      search options", help_path('expanded') %> for more details.
    </div>
  </div>
<% end %>
