<div class="navbar-right">
  <ul class="nav navbar-nav">
<div class="collapse navbar-collapse" id="secondary-util-collapse">
       <%= render partial: 'shared/nav/home' %>
       <%= render partial: 'shared/nav/med' %>
       <%= render partial: 'shared/nav/bib' %>
       <%= render partial: 'shared/nav/corpus' %>
      </div>
  </ul>
</div>