---
name: "Build branch image"

on:
  workflow_dispatch:  # This allows to kick-off the action manually from GitHub Actions

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: 'ghcr.io/mlibrary/dromedary/dromedary-branch:${{ github.ref_name }}, ghcr.io/mlibrary/dromedary/dromedary-branch:latest'
          file: .docker/branch.dockerfile
          secrets:
            "gh_package_read_token=${{ secrets.GH_PACKAGE_READ_TOKEN }}"
